<div class="page">
    <div class="page-wrapper">
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="page-pretitle"> Listing </div>
                        <h2 class="page-title"><i class="feather icon-copy" style="font-size: 17px;"> </i> <span
                                style="margin-left: 8px;"> Tags </span> </h2>
                    </div>
                    <div class="col-auto ms-auto">
                        <div class="btn-list">
                            <a class="btn btn-dark d-none d-sm-inline-block" data-bs-toggle="modal"
                                data-bs-target="#modal-report" [routerLink]="['register']"
                                style="display: flex !important; flex-direction: row !important; align-items: center !important; justify-content: center !important;">
                                <i class="feather icon-copy" style="font-size: 17px;"> </i>
                                <span style="margin-left: 8px;"> Register </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-xl">
                <div class="empty border rounded-3" *ngIf="items.length <= 0">
                    <div class="empty-icon">
                        <i class="feather icon-copy" style="font-size: 50px;"> </i>
                    </div>
                    <p class="empty-title"> Empty Tags </p>
                    <p class="empty-subtitle text-secondary"> No Tags found on Database </p>
                </div>
                <div class="table-responsive border rounded-3" *ngIf="items.length > 0">
                    <table class="table table-vcenter">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NAME</th>
                                <th>MAC</th>
                                <th>PRICE</th>
                                <th>LEASED</th>
                                <th class="w-1"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tag of items">
                                <td><code><strong> {{ tag.id }} </strong></code></td>
                                <td class="text-secondary"> {{ tag.name }} </td>
                                <td class="text-secondary"><code> {{ tag.mac }} </code> </td>
                                <td class="text-secondary"><em> {{ tag.price | currency: "BRL" }} </em></td>
                                <td class="text-secondary" *ngIf="tag.leased == null"> <span class="badge bg-green">
                                        Available </span></td>
                                <td class="text-secondary" *ngIf="tag.leased != null"><strong> {{ tag.leased |
                                        date:'dd/MM/yyyy HH:mm' }} </strong></td>
                                <td style="display: flex; flex-direction: row;"><a class="btn btn-info"
                                        [routerLink]="['edit', tag.id]"
                                        style="display: flex !important; flex-direction: row !important; align-items: center !important; justify-content: center !important;">
                                        <i class="feather icon-edit" style="font-size: 17px;"> </i>
                                        <span style="margin-left: 8px;"> Edit </span>
                                    </a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>