<div class="page">
    <div class="page-wrapper">
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="page-pretitle"> Listing </div>
                        <h2 class="page-title"><i class="feather icon-users" style="font-size: 17px;"> </i> <span
                                style="margin-left: 8px;"> Clients </span> </h2>
                    </div>
                    <div class="col-auto ms-auto">
                        <div class="btn-list">
                            <a class="btn btn-dark d-none d-sm-inline-block" data-bs-toggle="modal"
                                data-bs-target="#modal-report" [routerLink]="['register']"
                                style="display: flex !important; flex-direction: row !important; align-items: center !important; justify-content: center !important;">
                                <i class="feather icon-user-plus" style="font-size: 17px;"> </i>
                                <span style="margin-left: 8px;"> Register </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-xl">
                <div class="table-responsive border rounded-3">
                    <table class="table table-vcenter">
                        <thead>
                            <tr>
                                <th> ID </th>
                                <th> NAME </th>
                                <th> EMAIL </th>
                                <th class="w-1"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let client of items">
                                <td><code><strong> {{ client.id }} </strong></code></td>
                                <td class="text-secondary"> {{ client.name }} </td>
                                <td class="text-secondary"> <i><strong> {{ client.email }} </strong></i> </td>
                                <td style="display: flex; flex-direction: row;"><a class="btn btn-info"
                                        [routerLink]="['edit', client.id]"
                                        style="display: flex !important; flex-direction: row !important; align-items: center !important; justify-content: center !important;">
                                        <i class="feather icon-edit" style="font-size: 17px;"> </i>
                                        <span style="margin-left: 8px;"> Edit </span>
                                    </a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>