<div class="page">
    <div class="page-wrapper">
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row align-items-center">
                    <div class="col" *ngIf="id == null">
                        <div class="page-pretitle"> Creating </div>
                        <h2 class="page-title"><i class="feather icon-user-plus" style="font-size: 17px;"> </i> <span
                                style="margin-left: 8px;"> Client </span> </h2>
                    </div>
                    <div class="col" *ngIf="id != null">
                        <div class="page-pretitle"> Editing </div>
                        <h2 class="page-title"><i class="feather icon-user-check" style="font-size: 17px;"> </i> <span
                                style="margin-left: 8px;"> Client </span> </h2>
                    </div>
                    <div class="col-auto ms-auto">
                        <div class="btn-list">
                            <a class="btn btn-dark d-none d-sm-inline-block" data-bs-toggle="modal"
                                data-bs-target="#modal-report" [routerLink]="['/clients']"
                                style="display: flex !important; flex-direction: row !important; align-items: center !important; justify-content: center !important;">
                                <i class="feather icon-rotate-ccw" style="font-size: 17px;"> </i>
                                <span style="margin-left: 8px;"> Return </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-xl">
                <form [formGroup]="form">
                    <fieldset class="form-fieldset border rounded-3">
                        <div class="mb-3">
                            <label class="form-label required">Name</label>
                            <input type="text" class="form-control" autocomplete="off" formControlName="name" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">E-mail</label>
                            <input type="text" class="form-control" autocomplete="off" formControlName="email" />
                        </div>
                    </fieldset>
                </form>
                <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
                    <a class="btn btn-success" (click)="save()"> <i class="feather icon-save" style="font-size: 17px;">
                        </i>
                        <span style="margin-left: 8px;"> Save </span></a>
                    <a class="btn btn-danger" style="margin-left: 15px;" (click)="delete()"
                        *ngIf="id != null && tags.length <= 0"><i class="feather icon-trash-2" style="font-size: 17px;">
                        </i><span style="margin-left: 8px;"> Remove </span></a>
                </div>
                <div class="page-header d-print-none" *ngIf="tags.length <= 0 && id != null">
                    <div class="container-xl">
                        <div class="empty border rounded-3">
                            <div class="empty-icon">
                                <i class="feather icon-thumbs-down" style="font-size: 50px;"> </i>
                            </div>
                            <p class="empty-title"> Empty Tags </p>
                            <p class="empty-subtitle text-secondary"> No Tags found for this Client </p>
                            <div class="empty-action">
                                <a class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
                                    data-bs-target="#modal-report" [routerLink]="['/tags']"
                                    style="display: flex !important; flex-direction: row !important; align-items: center !important; justify-content: center !important;">
                                    <i class="feather icon-shopping-cart" style="font-size: 17px;"> </i>
                                    <span style="margin-left: 8px;"> Lease </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-header d-print-none" *ngIf="tags.length > 0">
                    <div class="container-xl">
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="page-pretitle"> Listing </div>
                                <h2 class="page-title"><i class="feather icon-copy" style="font-size: 17px;"> </i>
                                    <span style="margin-left: 8px;"> Tags </span>
                                </h2>
                            </div>
                            <div class="col-auto ms-auto">
                                <div class="btn-list">
                                    <a class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
                                        data-bs-target="#modal-report" [routerLink]="['/tags']"
                                        style="display: flex !important; flex-direction: row !important; align-items: center !important; justify-content: center !important;">
                                        <i class="feather icon-shopping-cart" style="font-size: 17px;"> </i>
                                        <span style="margin-left: 8px;"> Lease </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="page-wrapper">
                            <div class="page-body">
                                <div class="border rounded-3">
                                    <div class=" table-responsive">
                                        <table class="table table-vcenter">
                                            <thead>
                                                <tr>
                                                    <th> ID </th>
                                                    <th> NAME </th>
                                                    <th> MAC </th>
                                                    <th> PRICE </th>
                                                    <th> LEASED </th>
                                                    <th class="w-1"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let tag of tags">
                                                    <td><code><strong> {{ tag.id }} </strong></code></td>
                                                    <td class="text-secondary"> {{ tag.name }} </td>
                                                    <td class="text-secondary"><code> {{ tag.mac }} </code> </td>
                                                    <td class="text-secondary"> <em> {{ tag.price | currency: "BRL" }}
                                                        </em> </td>
                                                    <td class="text-secondary"> <strong> {{ tag.leased |
                                                            date:'dd/MM/yyyy HH:mm' }} </strong> </td>
                                                    <td><a class="btn btn-warning" (click)="shut(tag.id)"><i
                                                                class="feather icon-alert-triangle"
                                                                style="font-size: 17px;">
                                                            </i><span style="margin-left: 8px;"> Shut </span></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>